AuthName "Admins Only"
AuthUserFile /app/.htpasswd
AuthGroupFile /dev/null
AuthType basic
require aimer
<files /app/aimervn/index.html>
    AuthUserFile /app/.htpasswd
    AuthName "Fan"
    AuthType Basic
    require aimer
</files>
